@using ProcessDemo.Models
@model List<ProcessDataViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Status</td>
            <td>Total Work Items</td>
            <td>Pending</td>
            <td>Completed</td>
        </tr>
    </thead>
    @foreach (var processData in Model)
    {
        <tr>
            <td>@processData.Id</td>
            <td>@processData.Name</td>
            <td>@processData.Status</td>
            <td>@processData.DataItems.Count</td>
            <td>@processData.DataItems.Count(di => di.Status != "completed")</td>
            <td>@processData.DataItems.Count(di => di.Status == "completed")</td>
            <td>
                @if (processData.Status == "paused")
                {
                    @Ajax.ActionLink("Restart", "Restart", new { id = processData.Id },  new AjaxOptions { HttpMethod = "Get" })
                }
                else if (processData.Status == "inprocess")
                {
                    @Ajax.ActionLink("Pause", "Pause", new { id = processData.Id }, new AjaxOptions { HttpMethod = "Get" })
                }
            </td>
        </tr>
    }
</table>

<div>
    @Ajax.ActionLink("Add new job", "AddJob", new AjaxOptions { HttpMethod = "Get" })
</div>
<div>
    @Ajax.ActionLink("Progress", "Progress", new AjaxOptions { HttpMethod = "Get" })
</div>